.js-warning {
  border: red 2px solid;
}
.invisible {
  display: none;
}

body {
  background-color: GAINSBORO;
  font-size: 1.5rem;
  font-family: 'Saira', cursive;
  padding: 0;
  margin: 0 auto;
}

.header{
  background-color: #63A46C;
  padding: 1%;
  height:45px;
}

.header img{
  display: inline;
  height: 50px;
  width: 50px;
}
.header__welcome{
  margin: 0 auto;
  display: inline;
}
#logout{
  float: right;
  display: inline;
}
.post-comment form {
    width: 70vw;
    margin: 5vh auto;
}
.post-comment label {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin: 5vh;
  text-align: center;
  display: block;
}

.post-comment__input{
  margin: 0 auto;
  width: 100%;
  height: 3rem;
  border: 3px darkslategrey solid;
  border-radius: 5px;
}

.post-comment__submit{
  display: block;
  box-sizing: border-box;
  border: 2px darkslategrey solid;
  border-radius: 5px;
  margin:5px auto;
  width: 50%;
}

.display-comments{
  width: 80vw;
  margin: auto;
}

#all-comments{
  text-align: left;
  flex-wrap: wrap;
  width: 100%;
  min-height: 50px;
  float: left;
  font-size: 14px;
  font-weight: 500;
  color: #444;
  position: relative;
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
  box-sizing: border-box;
  align-content: flex-start;
  line-height: 22px;
  list-style-type: none;
  border-radius: 5px;
  border: 3px darkslategrey solid;
  /*box-shadow: 0 1px 2px rgba(44, 62, 80, 0.10);*/
  background: #63D471;
}
#all-comments img{
  height :50px;
  width: 50px;
  display: inline;
}
.all-comments__avatar{
  display: inline;
}

#all-comments article {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  /*margin: 10px auto;*/
}

.all-comments__date{
  margin: 0px;
  text-align: right;
}
